.card-checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-left: 20px;
    margin-top: 20px;
}


.botones-izquierda {
    display: flex;
    justify-content: left;
    margin-left: 20px;
    margin-top:20px;
    align-items: center;
    
}

.botones-derecha {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    align-items: center;
    
   
}


.boton-volver {
    padding: 10px;
    border-color: white;
    cursor: pointer;
    font-size: 15px;
    gap:25px;
   


}
.empty-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

