.card-checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  flex-wrap: wrap;
    margin-top: 20px;
}


.botones-checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 22px;
    padding-bottom: 50px;

   
}


.boton-volver {
    padding: 10px;
    border-color: white;
    cursor: pointer;
    font-size: 15px;
    gap:25px;
   


}
.empty-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 70px;
}

.boton-cart {
    font-size: 20px;
    &:hover {
        background-color: pink;
        color:black;
    }
}

.nuevo {
    display: flex;

}