@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&family=Poiret+One&display=swap');


.portada {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
 
   

}

.texto-portada {
    display:flex;
    flex-direction: column;
    color:#DA1884;
    font-family: 'Montserrat', sans-serif;

    font-size: 36px;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap:-2px;
}
.imagen-portada-div {
    display: flex;
    align-items: center;
}


.imagen-portada {
    max-width: 700px;
    height: fit-content;
    overflow:visible;
    background-color: transparent;
}

.letra-logo {
    width:400px;
    padding: 10px;
}

.cards-portada {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    padding-bottom: 25px;
    gap:25px;
    justify-content: center; 
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 180, 244);
    color:#DA1884;
    gap:30px;
    /* width: 100%; */
    height: 615px;
    padding-bottom: 25px;
    margin-bottom: 35px;
 
}

.imagen-card  {
  
        position: relative;
        width: 100%;
        height: 450px; 
        overflow: hidden; 
        object-fit:contain;
}

.texto-card {
    font-size: 30px;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
