.portada {
    display: flex;
    
    justify-content: center;
    align-content: center;
}

.texto-portada {
    display:flex;
    flex-direction: column;
    color:#DA1884;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 70px;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap:-2px;
}

.imagen-portada {
    width: 100%;
}

.letra-logo {
    width:70x;
    padding: 20px;
}

.cards-portada {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap:25px;
    justify-content: center; 
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:#DA1884;
    gap:30px;
    width: 100%;
    height: auto;
   
    &:hover {
        background-color:#DA1884;
        color:aliceblue;
    }
}



.imagen-card img {
  
        position: relative;
        width: 30%;
        height: auto; 
        overflow: hidden;
        
}

.texto-card {
    font-size: 50px;
    padding: 20px;
    text-align: center;
}