.ItemImg {
    width: 250px;
}

.CardItem2 {
    display: flex;
    gap: 25px;
    padding: 20px;
    border-radius: 30px;
    border-color: #c3577e;
    border-width: 2px;
    justify-content: center;
    align-items: center;
    background-color: beige;
    flex-direction: column;
    width: 30%;
  
}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.Counter{
    display: flex;
    background-color: beige;

}

.info {
    gap: 25px;
    
}

.Option {
    display: flex;
    justify-content: center;
    padding: 7px;

    &:hover {
        background-color:#c3577e;
    }

    font-weight: bold;
}