

.card-producto {
   display: flex;
   flex-direction: row;
   gap:15px;
   
  
   justify-content: end;
   padding: 10px;
   flex-wrap: wrap;

 

}

article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 30px;
    border-color: #c3577e;
    border-width: 2px;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.card-image {
    max-width: 170px;
    background-color: beige;
}


.detalle-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.mas-card, Link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
    
}

h2 {
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.card-filtro {
    display: flex;
    flex-direction: column;
    border-color:black;
    font-weight: bold;
    font-size: 24px;
    background-color: #ffafcc;
    padding:30px;
    position: fixed;
    z-index: 1;
    justify-content: baseline;
    left:0;
}

.product-add {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 12px;
    font-weight: bold;
   
}

.producto-precio {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

button {
    border-style: none;
    cursor: pointer;
    background-color: #db95ae;
    font-weight: bold;
    color:white;
    border-radius: 100px;
    padding: 5px;
   
}

.boton-detalle {
    color:white !important;
    text-decoration: none;
}





