.Categorias {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: sticky;
    z-index: 2;
    top:0;
    padding: 20px;
    gap:25px;
    width: 25%;
    height: 30%;
    font-weight: bold;
    background-color: rgb(255, 221, 227);
   
   
}

.org-tienda {
    display:flex;

}

.isActive {
    color:#DA1884;
}

