.formulario-usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap:25px;

    
}

.b-y-c {
    gap: 25px;
}

.usuario-page {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
