@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&family=Poiret+One&display=swap');

.navbar {
    display: flex;
    background-color: transparent !important;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 6;
    max-width: 100%;
    position: inline;
    padding: 25px;
  
}

.lista-nav {
    display: flex;
    font-weight: bold;
    top:10% !important;
    background-color: transparent;
    gap: 35px;
    font-size: x-large;
    align-items: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    
}


.imagen-logo-nav {
    width: 170px;
    margin-left: 15px;
   
   
}

.carrito-header {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    cursor: pointer;
    font-weight: bold;
    color:#DA1884;


}

.container-cart-icon {
    
    top:60px;
    right: 45px;
    width: 25px;
    color:#DA1884;
    cursor: pointer;
    
}


.numerito {

    position: absolute;
    top: 51%;
    right: 7px;
    background-color: #ebb3d2;
    color: black;
    width: 25px;
    height: 25px;
    opacity: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 15px;

}

.portada-foto {
    display: flex;
    justify-content: baseline;
}

.iconos-header {
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap:15px;
    align-items: center;
    
}

.item-navbar {
    color:#DA1884;
    text-decoration: none;
    list-style: none;
}

.CartImg {
    color:black;
}

a {
    list-style: none;
    text-decoration: none;
}


