.footer {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    align-items: center;

}

.imagen-logo{
    width: 150px;
    background-color: transparent;
    margin-left:70px;
}


li {
    font-weight: bold;
    cursor: pointer;
}