.Counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.Controls {
    display: flex;
    flex-direction: row;
    gap: 25px;
}