.Counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    

}

.Controls {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.Button {
    border-color: white;
    padding:8px;
    cursor: pointer;
    border-radius: 7px;
    font-weight: bold;
    font-weight: 18px;

    &:hover {
        background-color: #c3577e;
    }
}